<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
<%- include('../components/header.ejs', { controls: false }) %>
<div class="container mt-5">
    <h1 class="mb-4">Published Articles</h1>
    <div class="row">
        <% articles.forEach(article => { %>
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="card-text"><%- article.content.substring(0, 100) -%>...</p>
                        <footer class="blockquote-footer">
                            <small>
                                By <b><%= settings.name %></b> | Views: <b><%= article.views %></b>
                            </small>
                        </footer>
                        <a href="/articles/<%= article.id %>" class="btn btn-outline-primary mt-3">Read More</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

</body>
</html>
